
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.marcoSemaforo{
    background-color: black;
    width:30px;
    margin:auto;    
    border-radius: 5px;
}
.palito{
    width:5px;
    margin:auto;
    background-color: black;
    height:20px;
}
.spacer{
    height: 5px;
}




.luzSemaforo{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    margin:auto;
    padding:5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.luzSemaforoRojo{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    margin:auto;
    padding:5px;
    background-color: red;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.luzSemaforoAmarillo{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    margin:auto;
    padding:5px;
    background-color: yellow;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.luzSemaforoVerde{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    margin:auto;
    padding:5px;
    background-color: green;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}
/* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */